body {
    background-color: #181a1b;
    color: green;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.coco {
    font-size: 15px;
    color: green;
}